.despesas {
  table{margin:0 auto; width:50%;}
  tfoot{border-top:1px solid #666;}
  tr   {width:100%;}
  th   {border-bottom:1px solid #666;}
  td   {transition:background 300ms;}

  th,
  td{color:#666; padding:16px; text-align:left;}

  tbody tr:first-of-type{margin-top:10px;}

  tr:hover td{background:rgba(#5bc0de, .1);}
}

.formulario {
  margin:40px auto 0; width:50%;
}
