<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/1597db2c5a.js"></script>
  <link rel="stylesheet" href="css/import.css">
  <title>Financias</title>
</head>
<body>
  <header class="header">
    <ul class="header-lista">
      <li class="header-lista-item"><a href="/perfil" class="header-lista-link">Meu Perfil</a></li>
      <li class="header-lista-item"><a href="#" class="header-lista-link">Minha Carteira</a></li>
      <li class="header-lista-item"><a href="/despesas" class="header-lista-link">Minhas Despesas</a></li>
      <li class="header-lista-item"><a href="/cadastro" class="header-lista-link">Cadastro</a></li>
      <li class="header-lista-item"><a href="/login" class="header-lista-link">Login</a></li>
    </ul>
    <% if (sessionName) { %>
      <div class="header-logado">
        <p class="header-logado-texto">Olá, <%= sessionName %></p>
        <a href="/login/deslogar" class="header-logado-deslogar">Deslogar</a>
      </div>
    <% } %>
  </header>
  <section class="limite cadastro">
    <h1 class="text-center">Tela de cadastro</h1>
    <form action="/cadastro/cadastrar" method="post">
      <input type="text" name="nome" placeholder="Nome" required>
      <input type="text" name="sobrenome" placeholder="Sobrenome" required>
      <input type="text" name="usuario" placeholder="Digite seu usuario" required>
      <input type="text" name="senha" placeholder="Digite sua senha" required>
      <button type="submit">Logar</button>
    </form>

  </section>
</body>
</html>
