<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/import.css">
  <script src="https://use.fontawesome.com/1597db2c5a.js"></script>
  <title>Financias</title>
</head>
<body>
  <section class="despesas">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Valor</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < despesas.length; i++) { %>
          <tr class="despesas-lista-item">
            <td class="despesas-lista-texto despesas-lista-id"><%= despesas[i]._id %></td>
            <td class="despesas-lista-texto despesas-lista-nome"><%= despesas[i].nome %></td>
            <td class="despesas-lista-texto despesas-lista-valor"><%= despesas[i].valor %></td>
            <td class="despesas-lista-texto despesas-lista-categoria"><%= despesas[i].categoria %></td>
          </tr>
        <% } %>
      </tbody>
      <tfoot>
        <tr>
          <td id="valorTotal">Valor total:</td>
        </tr>
      </tfoot>
    </table>
  </section>
  <section class="formulario">
    <form action="/adicionar" method="post">
      <input type="text" name="nome" placeholder="Nome">
      <input type="number" name="valor" placeholder="Valor">
      <input type="text" name="categoria" placeholder="Categoria">
      <button type="submit">Adicionar</button>
    </form>
  </section>
  <section class="formulario">
    <form action="/mudar" method="post">
      <input type="text" name="alvo" placeholder="Nome do Alvo">
      <input type="text" name="nome" placeholder="Novo Nome">
      <input type="number" name="valor" placeholder="Novo Valor">
      <input type="text" name="categoria" placeholder="Nova Categoria">
      <button type="submit">Mudar</button>
    </form>
  </section>
  <section class="formulario">
    <form action="/deletar" method="post">
      <input type="text" name="alvo" placeholder="Nome do Alvo">
      <button type="submit">Deletar</button>
    </form>
  </section>
  <script src="js/script.js"></script>
</body>
</html>
